{% extends 'base.html' %}
{% load static %}


{% block title %}Detalle Rexistro{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row lead">
            <div class="col-3">
                {{registro.folio}}
            </div>
            <div class="col-7">
                {{registro.titulo}}
            </div>
            <div class="col-2">
                {{registro.figura}}
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col-2 text-end lead">Apoderado:</div>
            <div class="col-2 lead">{{registro.apoderado}}</div>
            <div class="col-1 text-end lead">RGP:</div>
            <div class="col-2 lead">{{registro.rgp}}</div>
            <div class="col-2 text-end lead">Solicitante:</div>
            <div class="col-3 lead">{{registro.solicitante}}</div>
            <div class="row text-center">
                {% for requisito in requisitos %}
                    <div class="row">
                        <div class="col-2">
                            {{requisito.get_tipo_display}} </br>
                            Oficio IMPI-{{requisito.folio}}
                        </div>
                        <div class="col-2">
                            Notificado el {{requisito.fecha}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-center lead">
                        {% if resolucion %}
                            {{resolucion.get_resolucion_display}}
                        {% endif %}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        {% if not resolucion %}
            {% comment %} <a href="{% url "registros:nuevoRequisito" registro.slug ultimo.tipo %}" class="btn btn-sm btn-info mb-1">Nuevo Requisito</a> {% endcomment %}
            <a href="{% url "registros:nuevoRequisito" registro.slug %}" class="btn btn-sm btn-info mb-1">Nuevo Requisito</a>
            <a href="#" class="btn btn-sm btn-success mb-1">Resolución</a>
        {% endif %}
        {% if not forma %}
            <a href="{% url "registros:nuevoRequisito" registro.slug %}" class="btn btn-sm btn-info mb-1">Favorable de Forma</a>
        {% endif %}
        

    </div>
</div>
{% endblock %}