{% extends 'base.html' %}
{% load static %}


{% block title %}Detalle Rexistro{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row lead">
            <div class="col-3">
                <div class="text-body-secondary">{{registro.folio}}</div>
            </div>
            <div class="col-7">
                <strong>{{registro.titulo}}</strong>
            </div>
            <div class="col-2">
                <div class="text-body-secondary">{{registro.figura}}</div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2 text-end">Apoderado:</div>
            <div class="col-2">{{registro.apoderado}}</div>
            <div class="col-1 text-end">RGP:</div>
            <div class="col-2">{{registro.rgp}}</div>
            <div class="col-2 text-end">Solicitante:</div>
            <div class="col-3">{{registro.solicitante}}</div>
            <div class="row text-center">
                {% for requisito in requisitos %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                {{requisito.get_tipo_display}} </br>
                                Oficio IMPI-{{requisito.folio}}</br>
                                Notificado el {{requisito.fecha}}
                            </div>
                            {% if requisito.tipo != "FORMAS" %}
                                <div class="card-footer">
                                    {% if not requisito.contestacion.all %}
                                        <div class="">
                                            <a href="{% url "registros:nuevaContestacion" requisito.id %}" class="btn btn-sm btn-primary">Capturar Contestación</a>
                                        </div>
                                    {% else %}
                                        <div>
                                            Contestado el {{requisito.contestacion.first.fecha}}</br>
                                            {{requisito.contestacion.first.folio}}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div><br><br>
            <div class="row">
                {% for inventor in inventores %}
                    <div class="col-4 text-end">{{inventor.nombre}}</div>
                    <div class="col-8">{{inventor.dependencia}}</div>
                {% endfor %}
            </div>
            <div class="row mt-3">
                <div class="col">
                        
                </div>
            </div>
        </div>
    </div>
    {% if ultimo.tipo == 'OTORGADA' %}
        <div class="card-footer bg-success text-center">
    {% elif ultimo.tipo == 'ABANDANODA' %}
        <div class="card-footer bg-warning text-center">
    {% elif ultimo.tipo == 'DESISTIDA' %}
        <div class="card-footer bg-warning text-center">
    {% elif ultimo.tipo == 'NEGADA' %}
        <div class="card-footer bg-danger text-center">
    {% else %}
        <div class="card-footer">
    {% endif %}
        <a href="{% url "registros:nuevoRequisito" registro.slug ultimo.tipo %}" class="btn btn-sm btn-info mb-1">Nuevo Oficio IMPI</a>

    </div>
</div>
<div class="row">
    <div class="col mt-1">
        <a href="{% url "registros:listaRegistros" %}" class="btn btn-sm btn-info mb-1">Regresar al listado de Registros</a>
    </div>
</div>
{% endblock %}