{% extends 'base.html' %}
{% load static %}


{% block title %}Nuevo Teléfono{% endblock %}

{% block content %}
    <h1>Teléfono</h1>

    <form role="form" id="TelefonoForm" action="{% url 'inventores:nuevoTelefono' inventor.slug %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            {{form.errors}}
            {{form.help_text}}
            {{field}}
        {% endfor %}
        <button class="btn btn-sm btn-success" type="submit" name="submit">Aceptar</button>
    </form>
    
{% endblock %}