{% extends 'base.html' %}
{% load static %}


{% block title %}Agregar inventor a registro{% endblock %}

{% block content %}
    <h1>Agregar inventor a registro</h1>

    <form role="form" id="ProyectoForm" action="{% url 'inventores:nuevoRegistro' inventor.slug %}" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            {{form.errors}}
            {{form.help_text}}
            {{field}}
        {% endfor %}
        <button class="btn btn-sm btn-success" type="submit" name="submit">Aceptar</button>
    </form>
    
{% endblock %}