{% extends 'base.html' %}
{% load static %}

{% block title %}Carga Excel{% endblock %}

{% block content %}
<p>Selecciona el archivo de Excel a cargar:</p>
    <form action="{% url "creaFormulario:cargaExcel" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"
                title="Upload excel file"
                name="excel_file"
                style="border: 1px solid black; padding: 5px;"
                required="required">
        <p>
        <input type="submit"
                value="Upload"``
                style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
    </form>

    <p></p>
    <hr>

    {% comment %} {% for dic in excel_data %}
        {% for key, value in dic.items %}
            <p>Clave: {{key}}, valor {{value}}</p>
        {% endfor %}
        <br>
    {% endfor %} {% endcomment %}
{% endblock %}