{% extends 'base.html' %}
{% load static %}


{% block title %}Formularios de Declaración de Invención{% endblock %}

{% block content %}
<h1 class="">Formularios de Declaración de Invenciones</h1>
    {% for formu in formulario %}
        {% if not formu.ingresado %}
            <div class="card border-primary mb-2">
                <div class="card-body">
                    <p>
                        {{ formu.nombre }} - <strong>{{ formu.titulo }}</strong><br>
                        {% if formu.divulgacion %}
                            Existe divulgación<br>
                            {{ formu.divulgacion_fecha_1 }}
                            {% if formu.divulgacion_fecha_2 %}
                                <br>{{ formu.divulgacion_fecha_2}}
                            {% endif %}
                            {% if formu.divulgacion_fecha_3 %}
                                <br>{{ formu.divulgacion_fecha_3}}
                            {% endif %}
                        {% else %}
                            No existe divulgación
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm btn-outline-info" href="{% url "creaFormulario:generaFormulario" formu.id %}">Genera Formulario</a>
                    <a class="btn btn-sm btn-outline-danger" href="{% url "creaFormulario:deleteFormulario" formu.id %}">Borrar Formulario</a>
                    {% if not formu.ingresado %}
                        <a class="btn btn-sm btn-outline-success" href="{% url "creaFormulario:ingresaFormulario" formu.id %}">Formulario Ingresado</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% include "pagination.html" with page=formulario %}
{% endblock %}