{% extends 'base.html' %}
{% load static %}

{% block title %}Formularios de Invención{% endblock %}

{% block content %}
<h1>Formulario de Invenciones</h1>
    {% for formu in formulario %}
    <div>
        <p>{{ formu.nombre }} - {{ formu.titulo }}<br>
            {% if formu.divulgacion %}
                Existe Divulgación
            {% else %}
                No existe divulgación
            {% endif %} </p>
            <a href="{% url "creaFormulario:generaFormulario" formu.id %}">Genera Formulario</a>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    </div>
    {% endfor %}
    {% include "pagination.html" with page=formulario %}
{% endblock %}